
.full-width-image {
  width: 100%;
  height: 500px; /* Set your desired height here */
  object-fit: cover; /* Ensures the image covers the area, cropping the excess */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the text */
    color: white; /* Change color based on your image */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional for better visibility */
    text-align: center; /* Center text */
}

.centered-card {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
}

.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Menambahkan shadow */
    transition: box-shadow 0.3s ease; /* Efek transisi saat hover */
}

.card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Shadow lebih gelap saat hover */
}
